@import "vars";
@import "fonts";
@import "libs";
$fnt-wght-thin: 100;
$fnt-wght-light: 300;
$fnt-wght-regular: 500;
$fnt-wght-bold: 700;
$fnt-wght-black: 900;
$font-stack: 'Roboto',
sans-serif;
$font-playfair: 'Playfair Display',
sans-serif;
$font-hammersmit: 'HammersmithOne',
sans-serif;
$aqua-colour: #00e0d0;
$overlay-color: #0b0051;
$font-colour:rgb(65, 61, 75);
@mixin button {
    color: #00e0d0;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $aqua-colour;
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 3px;
    font-size: 16px;
}

@mixin elements-colour($el-colour) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 ul,
    li,
    p {
        color: $el-colour;
    }
}

@mixin background($url) {
    background: linear-gradient(to right, rgba(9, 5, 47, .85), rgba(49, 29, 94, .85)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin h1 {
    margin: 0;
    padding: 0;
    font-family: $font-playfair;
    font-weight: $fnt-wght-black;
}

@mixin h2 {
    font-family: $font-playfair;
    font-weight: $fnt-wght-bold;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

@mixin h4 {
    font-size: 14px;
    font-family: $font-stack;
    font-weight: $fnt-wght-black;
    padding: 0;
    margin: 0;
}

@mixin h5 {
    font-family: $font-playfair;
    opacity: 0.749;
    padding: 0;
    margin: 0;
}

@mixin p {
    font-size: 14px;
    font-weight: $fnt-wght-light;
    font-family: $font-stack;
    color: #00e0d0;
    padding: 0;
    margin: 0;
    opacity: 0.749;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h4 {
        @include h4;
    }
    h5 {
        @include h5;
    }
    p {
        @include p;
    }
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}

header {
    @include background("../img/header-background.png");
    .navigation {
        padding: 15px 0;
        .logo {
            width: 30%;
            float: left;
        }
        
    }
    .topnav {
        width: 60%;
        padding: 0 0 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        & .active {
            display: none;
        }
        & a {
            float: left;
            display: block;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            transition: 0.5s ease-in-out all;
            font-size: 10pt;
            padding: 5px 12px;
        }
        & a:hover {
            color: $aqua-colour;
        }
        & .highlight {
            color: $aqua-colour;
        }
        .active {
            color: white;
        }
        & .icon {
            display: none;
        }
    }
    .carousel {
        width: 100%;
        margin: 0 auto;
        .main {
            padding-top: 80px;
            width: 100%;
            text-align: center;
            span.line {
                width: 50px;
                height: 1px;
                background: $aqua-colour;
                display: inline-block;
                margin: 20px auto;
            }
            a {
                margin: 50px auto 200px;
                @include button;
                text-decoration: none;
                &:hover {
                    background-color: #fff;
                    color: $aqua-colour;
                }
            }
        }
    }
    @include elements-colour(#fff);
}

#story {
    padding: 70px 0;
    .bigLogo {
        text-align: center;
    }
    .ourStory-info {
        h2,
        p {
            margin-bottom: 30px;
        }
        a {
            @include button;
            text-decoration: none;
            &:hover {
                background-color: $aqua-colour;
                color: #fff;
            }
        }
    }
    @include elements-colour($font-colour);
}

.video {
    video {
        width: 100%;
    }
}

#expertise {
    text-align: center;
    padding: 70px 0;
    h2 {
        padding-bottom: 15px;
    }
    span.line {
        width: 50px;
        height: 1px;
        background: $font-colour;
        display: inline-block;
        margin: 40px auto 40px;
    }
    .expertiseBlock {
        border-right: 1px solid $font-colour;
        img {
            height: 50px;
            margin: 30px 0;
        }
        p {
            margin: 0 auto 35px;
            width: 70%;
        }
        h4 {
            margin-bottom: 25px;
        }
    }
    .expertiseBlock:nth-child(3) {
        border-right: 0;
    }
    .botoomBorder {
        border-bottom: 1px solid $font-colour;
    }
    @include elements-colour($font-colour);
}

#ourTeam {
    @include background("../img/teamBackGround.png");
    background-size: cover;
    text-align: center;
    padding: 70px 0;
    h2 {
        padding-bottom: 10px;
    }
    span.line {
        width: 50px;
        height: 1px;
        background: white;
        display: inline-block;
        margin: 15px auto 45px;
    }
    .teamMember {
        h4 {
            margin-bottom: 10px;
        }
        p {
            font-size: 13px;
        }
        img {
            width: 100%;
        }
        figcaption {
            border: 1px solid white;
            padding: 20px 0;
        }
    }
    .joinUs {
        padding: 70px 0 30px;
    }
    .row {
        padding-bottom: 70px;
    }
    a {
        @include button;
        margin: 0 auto;
        margin-top: 30px;
        text-decoration: none;
        &:hover {
            background-color:#fff;
            color:$aqua-colour ;
        }
    }
    @include elements-colour(#fff);
}

#ourWorks {
    padding: 70px 0;
    .titleOurWorks {
        margin: 0 auto 70px;
        a {
            display: flex;
            align-items: center;
        }
    }
    .projects {
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            .row {
                width: 100%;
                img {
                    padding: 0;
                }
            }
        }
    }
    .button {
        @include button;
        margin: 70px auto 0;
        text-decoration: none;
        &:hover {
            background-color: $aqua-colour;
            color: #fff;
        }
    }
    @include elements-colour($font-colour);
}

#peoplesQuotes {
    @include background("../img/peoplesQuotes.png");
    .quoteSign {
        font-size: 80px;
        color: #fff;
        font-family: $font-playfair;
        height: 60px;
    }
    background-size: cover;
    text-align: center;
    .carousel {
        width: 100%;
        margin: 0 auto;
        .row {
            width: 100%;
            .quoteText {
                font-size: 16px;
                font-weight: 400;
                margin: 0px auto 50px;
            }
        }
        h4 {
            margin-bottom: 15px;
        }
        p {
            font-size: 13px;
        }
        .qtSecBtmMrgn {
            margin: 0 auto 185px;
        }
    }
    @include elements-colour(#fff);
}

#contactUs {
    h2 {
        padding-bottom: 35px;
    }
    padding: 70px 0;
    .contactForm {
        width: 100%;
        input {
            width: 100%;
            margin-bottom: 25px;
            padding: 10px;
        }
        textarea {
            width: 100%;
            margin-bottom: 25px;
            padding: 10px;
            height: 200px;
        }
        button {
            @include button();
            background-color: #fff;
            margin-bottom: 70px;
            text-decoration: none;
            &:hover {
                background-color:  $aqua-colour;
                color: #fff;
            }
        }
    }
    .ourClients {
        div {
            height: 90px;
            display: flex;
            align-items: flex-start;
        }
       
    }
}

footer {
    @include background("../img/footerBackground.png");
    background-size: cover;
    .col-md-4 {
        p {
            line-height: 2.0;
        }
        h4 {
            height: 55px;
            margin-bottom: 15px;
            font-size: 15px;
            display: flex;
            align-items: center;
        }
    }
    .row:first-child {
        padding-top: 70px;
    }
    .row:last-child {
        padding-bottom: 70px;
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        padding-bottom: 20px;
    }
    .ourAddress {
        padding-bottom: 20px;
    }
    .ourAddress,
    .ourPhone {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
            height: 19px;
        }
    }
    .subsToNews {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
            width: 70%;
            padding: 10px;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            background-color: rgba(#fff, .6);
            margin-left: 10px;
        }
    }
    .ourSocial {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-right: 10px;
            img {
                height: 50%;
            }
            &:hover {
                background-color:  $aqua-colour;
            }
        }
    }
    .terms {
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            text-align: left;
            li {
                @include h4;
                list-style-type: none;
                margin-right: 30px;
                a{
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color:  $aqua-colour;
                    }
                }
            }
        }
    }
    .copyright h4 {
        text-align: right;
    }
    @include elements-colour(#fff);
}

@import "media";